.wrapper {
  margin: 1vmin 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 30vh;
}

.titleWrapper {

}

.title {
  text-align: center;
  background: gray;
  height: 15vh;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filters button {
  display: flex;
  margin: 1vmin;
  padding: 1vmin;
  font-size: calc(10px + 1vmin);
  font-weight: bold;
  text-decoration: underline;
  border: none;
  border-radius: 0.5vmin;
  cursor: pointer;
}

.filter:hover {
  box-shadow: 0.2vmin 0.2vmin 0.5vmin 0.5vmin rgba(0, 0, 0, 0.25);
}

.devices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.defaultText {
  color: black;
  font-size: 32px;
}
