.row {
  border-radius: 4px;
  border: 0.5vmin solid black;
  width: calc(120px + 20vmin);
  margin: 1vmin 0;
}

.section {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 2vmin;
  width: 100%;
}

.header {
  padding: 1vmin;
  background: #1ab545cc;
  color: white;
  text-shadow: 0.2vmin 0.2vmin gray;
  font-size: calc(12px + 2vmin);
}

.body {
  display: none;
}

.active {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
}

.subtitle {
  margin: 0 2vmin;
  text-align: center;
}

.button {
  margin-right: 12px;
}
