.wrapper {
  margin-top: 0;
  margin-bottom: 3vmin;
}

.hero {
  background-color: #ccc;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.one {
  background-image: url("https://previews.123rf.com/images/berry2046/berry20461904/berry2046190400052/122038881-tropical-vector-realistic-green-leaves-seamless-pattern-pink-background-exotic-trendy-wallpaper.jpg");
}

.one .title {
  color: yellow;
  text-shadow: 0.8vmin 0.8vmin #ff0000;
}

.two {
  background-image: url("https://previews.123rf.com/images/darijashka/darijashka1904/darijashka190400034/123951263-summer-seamless-pattern-with-palm-leaves-and-tropical-flowers-hawaiian-motifs-perfect-for-wallpapers.jpg")
}

.two .title {
  color: yellow;
  text-shadow: 0.8vmin 0.8vmin #ff0000;
}

.three {
  background-image: url("https://previews.123rf.com/images/theerapol/theerapol1901/theerapol190100009/126453733-floral-seamless-tropical-pattern-botanical-wallpaper-illustration-in-hawaiian-style.jpg");
}

.three .title {
  color: yellow;
  text-shadow: 0.8vmin 0.8vmin #ff0000;
}

.small {
  padding: 4vmin 0;
  width: 70vw;
  border-radius: 0.5vmin;
}

.medium {
  padding: 6vmin 0;
  width: 70vw;
  border-radius: 0.5vmin;
}

.large {
  padding: 12vmin 0;
  width: 100vw;
}

.title {
  font-size: 8vmin;
  display: flex;
  box-sizing: border-box;
  margin: 0;
}
